*{
	margin: 0;
	padding: 0;
	font-family: 'Source Code Pro';
}

body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #FFCF5E;

}

.title{
	margin-bottom: 15px;
	font-size: 46px;
	font-weight: bold;
	color: #FE5E8F;
}


.page2{
	margin-top: 20px;
	padding: 20px 40px;
	font-size: 24px;
	cursor: pointer;
	border: none;
	border-radius: 15px;
	background-color: #FE5E8F;
	color: #FFCF5E;
	box-shadow:
		inset 0 1px 0 0 rgba(255,255,255,0.4),
		0 2px 0 0 #ff5286,
		0 4px 0 0 #f43f5e,
		0 6px 0 0 #e11d48,
		0 8px 0 0 #be123c,
		0 8px 16px 0 rgba(244,114,182,0.5);
	}

.page2:hover{
	transform: translateY(4px);
	box-shadow:
	inset 0 1px 0 0 rgba(255,255,255,0.4),
	0 1px 0 0 #ff5286,
	0 2px 0 0 #f43f5e,
	0 3px 0 0 #e11d48,
	0 4px 0 0 #be123c,
	0 4px 8px 0 rgba(244,114,182,0.5);
}

.page2:hover i {
	animation: pulse 4s infinite;
}

.back{
	position: absolute;
	top: 20px;
	left:20px;
	padding: 10px 20px;
	cursor: pointer;
	border: none;
	border-radius: 15px;
	font-size: 36px;
	height: 50px;
	width: 50px;

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	background-color: #FE5E8F;
	color: #FFCF5E;
	box-shadow:
		inset 0 1px 0 0 rgba(255,255,255,0.4),
		0 2px 0 0 #ff5286,
		0 4px 0 0 #f43f5e,
		0 6px 0 0 #e11d48,
		0 8px 0 0 #be123c,
		0 8px 16px 0 rgba(244,114,182,0.5);
}

.back:hover{
	transform: translateY(4px);
	box-shadow:
	inset 0 1px 0 0 rgba(255,255,255,0.4),
	0 1px 0 0 #ff5286,
	0 2px 0 0 #f43f5e,
	0 3px 0 0 #e11d48,
	0 4px 0 0 #be123c,
	0 4px 8px 0 rgba(244,114,182,0.5);
}

.back:hover i {
	animation: pulse 4s infinite;
}

.selection{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	margin-top: 50px;
}

.timer{
	width: 150px;
	height: 150px;
	font-size: 42px;
	cursor: pointer;
	border: none;
	border-radius: 15px;
	background-color: #FE5E8F;
	color: #FFCF5E;
	box-shadow:
		inset 0 1px 0 0 rgba(255,255,255,0.4),
		0 2px 0 0 #ff5286,
		0 4px 0 0 #f43f5e,
		0 6px 0 0 #e11d48,
		0 8px 0 0 #be123c,
		0 8px 16px 0 rgba(244,114,182,0.5);
}

.timer:hover{
	transform: translateY(4px);
	box-shadow:
	inset 0 1px 0 0 rgba(255,255,255,0.4),
	0 1px 0 0 #ff5286,
	0 2px 0 0 #f43f5e,
	0 3px 0 0 #e11d48,
	0 4px 0 0 #be123c,
	0 4px 8px 0 rgba(244,114,182,0.5);
}

.timer:hover i {
	animation: pulse 4s infinite;
}

.pause{
	margin-top: 20px;
	padding: 20px 40px;
	font-size: 24px;
	cursor: pointer;
	border: none;
	border-radius: 15px;
	background-color: #FE5E8F;
	color: #FFCF5E;
	box-shadow:
		inset 0 1px 0 0 rgba(255,255,255,0.4),
		0 2px 0 0 #ff5286,
		0 4px 0 0 #f43f5e,
		0 6px 0 0 #e11d48,
		0 8px 0 0 #be123c,
		0 8px 16px 0 rgba(244,114,182,0.5);
}

.pause:hover{
	transform: translateY(4px);
	box-shadow:
	inset 0 1px 0 0 rgba(255,255,255,0.4),
	0 1px 0 0 #ff5286,
	0 2px 0 0 #f43f5e,
	0 3px 0 0 #e11d48,
	0 4px 0 0 #be123c,
	0 4px 8px 0 rgba(244,114,182,0.5);
}

.pause:hover i {
	animation: pulse 4s infinite;
}

.current-timer{
	color: #FE5E8F;
	text-align: center;
}

@keyframes pulse{
	0% {
		transform: scale(1);
	} 50% {
		transform: scale(1.2);
	} 100% {
		transform: scale(1);
	}
}
